<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ novaReceita.id ? 'Editar receita' : 'Nova receita' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ novaReceita.id ? 'Editar receita' : 'Nova receita' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input [(ngModel)]="novaReceita.descricao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Item do Estoque</ion-label>
    <ion-select [(ngModel)]="itemReceita.idItemEstoque">
      <ion-select-option *ngFor="let item of itemEstoqueLista" [value]="item.id">{{ item.descricao }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="number" [(ngModel)]="itemReceita.quantidade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Grandeza</ion-label>
    <ion-select [(ngModel)]="itemReceita.grandeza">
      <ion-select-option *ngFor="let g of grandezas" [value]="g">{{ g }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="adicionarItemReceita()">Adicionar Item</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of novaReceita.itens; let i = index">
      <ion-label>
        {{ getItemDescricao(item.idItemEstoque) }} - {{ item.quantidade }} {{ item.grandeza }}
      </ion-label>
      <ion-button (click)="editarItemReceita(i)" color="primary">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="removerItemReceita(i)" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="full" (click)="salvar()">
      {{ novaReceita.id ? 'Salvar Alterações' : 'Salvar' }}
    </ion-button>
  </ion-footer>
</ion-content>
